*.swp
*.log
*~
*.pyc
*_local.py
*.DS_Store
.vagrant
*db.sqlite3
db
skillhub/components
skillhub/static/admin/
skillhub/static/bootstrap_toolkit/
skillhub/static/datepicker/
skillhub/static/octicons/
skillhub/static/jquery/
skillhub/static/underscore/
