*.swp
*.log
*~
*.pyc
*_local.py
db
skillhub/components
skillhub/static/admin/
skillhub/static/bootstrap_toolkit/
skillhub/static/datepicker/
skillhub/static/octicons/
skillhub/static/jquery/
skillhub/static/underscore/
