<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SkillHub</title>
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'octicons/octicons/octicons.css' %}">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href={% url 'home' %}>SkillHub</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    {% if not user.is_authenticated %}
        <li><a href={% url 'authorize' %}><i class="mega-octicon octicon-mirror"></i></a></li>
        <li><a href={% url 'authorize' %}><i class="mega-octicon octicon-sign-in"></i></a></li>
    {% else %}
        <li><a href={{user.account.github_url}} target="_blank">{% if user.account.avatar_url %}<img src={{ user.account.avatar_url }} class="img-circle" id="avatar" style="height:32px"/>{% else %}<i class="mega-octicon octicon-octoface"></i>{% endif %}</a></li>
        <li><a href={% url 'logout' %}><i class="mega-octicon octicon-sign-out"></i></a></li>
    {% endif %}
    </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<section class="container">
    {% block content %}
    {% endblock %}
</section>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
        <li> <a href="http://marianitadn.github.io" target="_blank">About me</a> </li>
        <li> <a href="https://github.com/marianitadn/SkillHub" target="_blank">GitHub project</a> </li>
        <li> <a href="http://subtlepatterns.com/" target="_blank">Background source</a> </li>
    </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</body>
</html>
