<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SkillHub</title>
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>

<section class="container">
    {% block content %}
    {% endblock %}
</section>

<footer>
<ol class="list-inline">
    <li> <a href="http://marianitadn.github.io" target="_blank">About me</a> </li>
    <li> <a href="https://github.com/marianitadn/SkillHub" target="_blank">GitHub project</a> </li>
    <li> <a href="http://subtlepatterns.com/" target="_blank">Background source</a> </li>
 </ol>
</footer>
</body>
</html>
