{% include "base.html" %}

<section id="second-menu">
  <div class="span1">
      <ul class="list-group">
        <li class="list-group-item">
          <a href={% url 'home' %}>
            <i class="mega-octicon octicon-home"></i>
          </a>
        </li>
        <li class="list-group-item">
          <a href={% url 'tips' %}>
            <i class="mega-octicon octicon-milestone"></i>
          </a>
        </li>
        <li class="list-group-item">
          <a href={% url 'tutorials' %}>
            <i class="mega-octicon octicon-book"></i>
          </a>
        </li>
        {% if user.is_authenticated %}
        <li class="list-group-item">
          <a href={% url 'home' %}>
            <i class="mega-octicon octicon-star"></i>
          </a>
        </li>
       <li class="list-group-item">
          <a href={% url 'home' %}>
            <i class="mega-octicon octicon-light-bull"></i>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</section>

<div class="span8">
{% block content %}
{% endblock %}
</div>
