{% extends "base.html" %}
{% block content %}
<section class="row-fluid" id="main-menu">
  <div class="span9">
    <div class="row">
          <div class="span3">
            <a href={% url 'tips' %} class="thumbnail skill-thumbnail">
            <div align="center"><i class="octicon octicon-milestone lead"></i></div>
              <h3> Tips </h3>
            </a>
          </div>

          <div class="span3">
            <a href={% url 'tutorials' %} class="thumbnail skill-thumbnail">
            <div align="center"><i class="octicon octicon-book lead"></i></div>
              <h3> Tutorials </h3>
            </a>
          </div>
    </div>
    </br>
    {% if user.is_authenticated %}
    <div class="row">
          <div class="span3">
              <a href={% url 'practice' %} class="thumbnail skill-thumbnail">
              <div align="center"><i class="octicon octicon-star lead"></i></div>
                <h3> Practice </h3>
              </a>
          </div>

          <div class="span3">
            <a href={% url 'learn' %} class="thumbnail skill-thumbnail">
              <div align="center"><i class="octicon octicon-rocket lead"></i></div>
              <h3> Learn </h3>
            </a>
          </div>
    </div>
  </div>
  {% endif %}
</section>
{% endblock %}
