{% extends "base.html" %}
{% block content %}
<section class="row-fluid" id="main-menu">
  <div class="span9">
    <div class="row">
          <div class="span3">
            <a href={% url 'tips' %} class="thumbnail skill-thumbnail">
            <div align="center"><i class="mega-octicon octicon-milestone lead page-header"></i></div>
              <p class="text-center"> Tips </p>
            </a>
          </div>

          <div class="span3">
            <a href={% url 'tutorials' %} class="thumbnail skill-thumbnail">
            <div align="center"><i class="mega-octicon octicon-book lead page-header"></i></div>
              <p class="text-center">Tutorials</p>
            </a>
          </div>
    </div>
    </br>
    {% if user.is_authenticated %}
    <div class="row">
          <div class="span3">
            <a href="#"class="thumbnail skill-thumbnail">
            <div align="center"><i class="mega-octicon octicon-star elad page-header"></i></div>
              <p class="text-center">Learn</p>
            </a>
          </div>

          <div class="span3">
              <a href="#" class="thumbnail skill-thumbnail">
              <div align="center"><i class="mega-octicon octicon-light-bull lead page-header"></i></div>
                <p class="text-center"> Practice </p>
              </a>
          </div>
    </div>
  </div>
  {% endif %}
</section>
{% endblock %}
