{% extends "base.html" %}
{% block content %}
<script type='text/javascript' src="{{ STATIC_URL }}js/sync.js' }}"></script>
<section class="row-fluid" id="main-menu">
  <div class="span9">
    <div class="row">
          <div class="span3">
            <a href={% url 'tips' %} class="thumbnail skill-thumbnail">
            <div align="center"><i class="octicon octicon-milestone"></i></div>
            </a>
          </div>

          <div class="span3">
            <a href={% url 'tutorials' %} class="thumbnail skill-thumbnail">
            <div align="center"><i class="octicon octicon-book lead"></i></div>
            </a>
          </div>
    {% if user.is_authenticated %}
          <div class="span3">
            <a href={% url 'contributions' %} class="thumbnail skill-thumbnail">
            <div align="center"><i class="octicon octicon-broadcast lead"></i></div>
            </a>
          </div>
    </div>
    </br>
    <div class="row">
          <div class="span3">
              <a href={% url 'practice' %} class="thumbnail skill-thumbnail">
              <div align="center"><i class="octicon octicon-star lead"></i></div>
              </a>
          </div>

          <div class="span3">
            <a href={% url 'learn' %} class="thumbnail skill-thumbnail">
              <div align="center"><i class="octicon octicon-rocket lead"></i></div>
            </a>
          </div>

          <div class="span3">
            <a href={% url 'home' %} class="thumbnail skill-thumbnail">
              <div align="center"><i class="octicon octicon-gift lead"></i></div>
            </a>
          </div>
    </div>
  </div>
  {% else %}
  </div>
  </br>
  {% endif %}
</section>
{% endblock %}
