{% block content %}
<div class="row">
   {% if item.url %}
    <p class="text-center lead page-header"><i class="mega-octicon octicon-light-bulb"></i><a href={{item.url}}> {{item.name}}</a></p>
    {% else %}
    <p class="text-center lead page-header"><i class="octicon octicon-light-bulb"></i> {{item.name}}</p>
   {% endif %}

    {% if item.stars or item.forks or item.languages %}
    <p class="text-center">
        {{item.stars}} <i class="octicon octicon-star"></i>
        {{item.forks}} <i class="octicon octicon-repo-forked"></i>
        <i class="octicon octicon-pencil"></i>
        {{ item.languages_names | join:", " }}
    </p>
    <hr class="divider"></hr>
   {% endif %}

   <p> {{item.description}} </p>
</div>
</br>
</br>
{% endblock %}
