{% extends "extended_base.html" %}
{% block content %}
<div id="projects">
{% if not projects %}
    <p class="text-center">We are sorry, but our robot couldn't find any match.Try again later or meanwhile start your own project.</p>
    <p class="text-center"><i class="octicon octicon-hubot"></i></p>
{% else %}
    {% with item_template='project_item.html' %}
        {% for project in projects %}
            {% include item_template with items=project %}
        {% endfor %}
    {% endwith %}
{% endif %}
</div>
{% endblock %}
