{% block content %}
{% for item in items %}
<div class="span8 thumbnail" align="center">
  <a class="page-header" href={{ item.url }} target="_blank"><i class="mega-octicon octicon-light-bulb lead">{{item.name}}</i></a>
    <div class="caption">
        <div class="page-header">
            <a href="#" class="skill-thumbnail">
              <p class="text-center">{{ item.stars }} <i class="octicon octicon-star"></i>&nbsp;&nbsp;&nbsp;{{ item.forks }} <i class="octicon octicon-repo-forked"></i>&nbsp;&nbsp;<i class="octicon octicon-pencil"></i>{% if item.languages_names %} {{ item.languages_names | join:", " }} {% else %} None {% endif %}</p>
            </a>
        </div>
        <p class="text-center"> {{ item.description }} </p>
    </div>
</div>
{% endfor %}
{% endblock %}

