body {
    background-image: url("http://skillhub.herokuapp.com/media/images/stardust.png");
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    max-width: 1240px;
}

p, h3 {
    color: white;
    margin-left: 25%;
    margin-top: 5%;
}

footer {
    margin-top: 10%;
    margin-left: 35%
}

.thumbnail {
    background: none;
}

#main-menu {
    margin-left: 40%;
    margin-top: 15%
}

#second-menu{
    margin-top: 15%;
    margin-left: -4%;
}

#second-menu .list-group-item{
    background: none;
    border: none;
}

#main-menu .octicon {
    font-size: 64px;
    text-align: center;
    color: white;
}

#second-menu .octicon {
    font-size: 48px;
    text-align: center;
    color: white;
}

#projects .octicon-hubot {
    font-size: 80px;
    text-align: center;
}

img#avatar{
    height: 32px;
}

.#logo {
    margin-left: 10%;
}

.navbar-nav.navbar-right:last-child#user-actions {
    margin-right: 10%;
}

.nav.navbar-nav.navbar-right#contact {
    margin-right: 40%;
}

.caption {
    background-color: rgb(240, 229, 229);
}

.caption a {
    color: rgb(86, 77, 92);
}

#main-menu .skill-thumbnail {
    width: 160px;
    height: 160px;
    padding: 6px 0;
    font-size: 64px;
    line-height: 2.3;
    border-radius: 150px;
}

#projects .features{
    position: relative;
    left: 75%;
    bottom: 90px;
}

#projects .features p {
    margin-left: 15%;
}

#projects .skill-thumbnail {
    text-decoration: none;
    width: 130px;
    height: 130px;
    padding: 24px 0;
    font-size: 12px;
    line-height: 2.3;
    border-radius: 130px;
    border-color: rgb(86, 77, 92);
    background-color: rgb(86, 77, 92);
}

