body {
    background-image: url("http://skillhub.herokuapp.com/media/images/stardust.png");
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    max-width: 1240px;
}

p, h3 {
    color: white;
    margin-left: 25%;
    margin-top: 5%;
}

footer {
    margin-top: 10%;
    margin-left: 35%
}

.thumbnail {
    background: none;
}

#main-menu {
    margin-left: 35%;
    margin-top: 15%
}

#second-menu{
    margin-top: 6%;
    margin-left: -4%;
}

#second-menu .list-group-item{
    background: none;
    border: none;
}

#main-menu .octicon {
    font-size: 64px;
    text-align: center;
}

#second-menu .octicon {
    font-size: 64px;
    text-align: center;
}

#projects .octicon-hubot {
    font-size: 80px;
    text-align: center;
}
