Django==1.8
django-crispy-forms
django-bootstrap-toolkit
django-bootstrap3
dj_static
static
django-bower
arrow
nose
oauth==1.0.1
# Own version of PyGithub
https://github.com/marianitadn/PyGithub/tarball/add-oauth-authentication
