Django==1.8
dj-database-url
dj-static
django-toolbelt
django-bower
arrow
django-crispy-forms
django-bootstrap-toolkit
django-bootstrap3
static
nose
oauth==1.0.1
psycopg2
gunicorn
wsgiref
# Own version of PyGithub
https://github.com/marianitadn/PyGithub/tarball/add-oauth-authentication
